.acc-container {
  width: 100%;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: rgb(251, 241, 248);
}

.acc-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.acc-header h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

/* Scrollable container */
.acc-list {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 5px;
  scroll-behavior: smooth;
}

.acc-list::-webkit-scrollbar {
  display: none;
}

.acc-item {
  text-align: center;
  flex-shrink: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.acc-circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid #dcdcdc;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acc-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.acc-item p {
  margin-top: 8px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.acc-list {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 5px;
  scroll-behavior: smooth;

  justify-content: center; /* ✅ center */
  align-items: center; /* ✅ vertically nice */
}
